@charset "utf-8";
/* CSS Document */


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
background: linear-gradient(#00b5e2, #003b5c 40%);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
}
li label{
	font-family: "Source Sans Pro Black;";
	font-size: 18px;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 25px 100px;
	text-decoration: none;
}
p label {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 15px;
}
td label {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 15px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.contNum{
	text-align: center;
	width: 40px;
	border-radius:10px;
}
.selcolor{
	border-radius:10px;
}
.boton{
	color: #FFFFFF;
	background: #00b5e2;
  font-family: "Source Sans Pro";
  font-size: 15px;
	border-color: #d8d8d8;
border-width: 3px;
border-style: solid;
border-radius:20px;
	margin-left: 10px;
	margin-right: 10px;
}
.opacidad{
	width:20%;
	text-align:center;
	background:#00b5e2;
}
li a {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-size: 18px;
}
li img {
	text-decoration:none;
  display: block;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
li a:hover:not(.active) {
  background-color: #003b5c;
}
li a.active {
  color: white;
  background-color: #000000;
}
body {
  background-color: #003b5c;
}
footer {
	position: relative;
	/* Altura total del footer en px con valor negativo */
    margin-top: -60px;
	/* Altura del footer en px. Se han restado los 5px del margen
               superior mas los 5px del margen inferior
            */
    height: 85px;
	padding:5px 0px;
	clear: both;
	background: linear-gradient(#003b5c 40%, #00b5e2);
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-family: "Source Sans Pro";
}

div p{
	color: #ffffff;
  	font-family: "Source Sans Pro";
  	font-size: 20px;
}